.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_form {
  margin-bottom: 32px;
  margin-top: 32px;
  width: 100%;
  white-space: nowrap;
}

.table_container {
  overflow-x: auto;
  width: 100%;
}

.table_form th,
.table_form td {
  text-align: left;
}

.header_container {
  align-self: flex-start;
  margin-top: 16px;
  margin-bottom: 32px;
}
