.search {
  display: flex;
  flex: 1;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 16px;
  width: 100%;
  height: 40px;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (min-width: 600px) {
  .search {
    margin-left: 8px;
    width: 100%;
  }
}

.searchIcon {
  width: 72px;
  height: 100%;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.inputRoot {
  color: inherit;
  width: 100%;
  flex: auto;
}

.inputInput {
  padding: 8px 0;
  transition: width 0.3s;
  width: 100%;
}
