
.badge {
    border-radius: 10px;
    height: 24px;
    background: #D8A31A;
    color: white;
    font-size: 0.75rem;
    padding: 0 6px;
    text-align: center;
    line-height: 24px;
    margin: 0 4px;
}