:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  main {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
}
