:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* AppBar size is 88px */
  min-height: calc(100vh - 88px);
}

@media screen and (max-width: 992px) {
  main {
    width: calc(100% - 16px);
    margin-left: 8px;
    margin-right: 8px;
  }
}
