:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  body {
    width: auto;
    margin-right: 16px;
    margin-left: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    min-width: 900px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
