
.root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    min-height: calc(100% - 60px); /* Adjust this value based on header and footer heights */
}