name: CI

on:
  push:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        # Install NPM dependencies, cache them correctly
        # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v5
        env:
          PEPY_API_KEY: ${{secrets.PEPY_API_KEY}}
          CYPRESS_PEPY_TEST_USER_EMAIL: ${{secrets.PEPY_TEST_USER_EMAIL}}
          CYPRESS_PEPY_TEST_USER_PASSWORD: ${{secrets.PEPY_TEST_USER_PASSWORD}}
        with:
          build: npm run build
          start: npm run start
          browser: chrome
  publish:
    needs:
      - tests
    runs-on: ubuntu-latest
    environment: Production
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm install
      - name: Build site
        run: npx @cloudflare/next-on-pages@1
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: c26be9b36a513ce4fc9074e8071346dd
          projectName: pepy
          branch: main
          directory: .vercel/output/static
          # Optional: Enable this if you want to have GitHub Deployments triggered
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          # Optional: Change the Wrangler version, allows you to point to a specific version or a tag such as `beta`
          wranglerVersion: '3'
      - name: Sentry Release
        uses: getsentry/action-release@v1.7.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: pepy-5g
          SENTRY_PROJECT: pepy-front
        with:
          environment: production
